/* @import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap'); */


:root {
  --gray100: #e6e6e6;
  --gray200: #cccccc;
  --gray300: #b3b3b3;
  --gray400: #999999;
  --gray500: #808080;
  --gray600: #666666;
  --gray700: #4d4d4d;
  --gray800: #333333;
  --gray900: #1a1a1a;

  --blue100: #d9e7fd;
  --blue200: #b3cefb;
  --blue300: #8eb6f8;
  --blue400: #689df6;
  --blue500: #4285f4;
  --blue600: #356ac3;
  --blue700: #285092;
  --blue800: #1a3562;
  --blue900: #0d1b31;

  --red100: #fbd9d7;
  --red200: #f7b4ae;
  --red300: #f28e86;
  --red400: #ee695d;
  --red500: #ea4335;
  --red600: #bb362a;
  --red700: #8c2820;
  --red800: #5e1b15;
  --red900: #2f0d0b;

  --yellow100: #fef2cd;
  --yellow200: #fde49b;
  --yellow300: #fdd768;
  --yellow400: #fcc936;
  --yellow500: #fbbc04;
  --yellow600: #c99603;
  --yellow700: #977102;
  --yellow800: #644b02;
  --yellow900: #322601;

  --green100: #d6eedd;
  --green200: #aedcba;
  --green300: #85cb98;
  --green400: #5db975;
  --green500: #34a853;
  --green600: #2a8642;
  --green700: #1f6532;
  --green800: #154321;
  --green900: #0a2211;

  --orange100: #ffe2cc;
  --orange200: #ffc599;
  --orange300: #ffa767;
  --orange400: #ff8a34;
  --orange500: #ff6d01;
  --orange600: #cc5701;
  --orange700: #994101;
  --orange800: #662c00;
  --orange900: #331600;

  --cyan100: #daf2f4;
  --cyan200: #b5e5e8;
  --cyan300: #90d7dd;
  --cyan400: #6bcad1;
  --cyan500: #46bdc6;
  --cyan600: #38979e;
  --cyan700: #2a7177;
  --cyan800: #1c4c4f;
  --cyan900: #0e2628;
}

@font-face {
  font-family: 'Product Sans';
  src: url('fonts/product_sans_regular.ttf'), url('fonts/product_sans_bold');
}

* {  
  font-family: 'Product Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

body {
  background-color: white;
}

h1 {
  font-size: 60px;
  width: 600px;
  text-align: center;
}

span.subtext {
  color: var(--gray700);
}

h2 {
  font-size: 48px;
  width: 650px;
  text-align: center;
}

header {
  width: 100%;
  height: auto;
  padding: 50px 0 0 0;
}

hr {
  width: 90%;
  border: 1px solid var(--gray200);
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

a.current, a.others {  
  padding: 10px 5px;
  margin: 0 5px;
}

a.current {
  border-bottom: 2px solid var(--blue500);
}

a.others {
  color: var(--gray600);
  border-radius: 4px;
  border: 0 solid transparent;
}

a.others:hover {
  background-color: var(--gray100);
  color: black;
}

a.others:active {
  background-color: var(--gray200);
}

.flexbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox.flex-row {
  flex-direction: row;
}

.flexbox.flex-column {
  flex-direction: column;
}

.flexbox.header-links {
  width: 450px;
  justify-content: space-between;
  margin: 20px 0 40px 0;
}

section.main-content {
  margin-top: 60px;
}

img.google-home-logo {
  margin-bottom: 40px;
}

section.description {
  width: 1000px;
  justify-content: space-between;
}

div.connected-house {
  width: 450px;
  height: 450px;
}

div.connected-house-description {
  width: 400px;
}

div.connected-house-description > p, div.compatibility-description > p {
  font-size: 24px;
  line-height: 35px;
}

section.utilities {
  margin-top: 50px;
}

img.google-home-compatibility {
  margin-bottom: 30px;
}

div.compatibility-description {
  width: 900px;
  margin: 40px 0;
}

div.compatibility-description > p {
  text-align: center;
}

a.button {
  color: white;
  background-color: var(--blue500);
  border-radius: 4px;
  padding: 13px 26px;
  font-size: 18px;
}

a.button:hover {
  background-color: var(--blue600);
}

section.utilities-list {
  width: 1220px;
  height: 450px;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.utilities-list > div {
  width: 1220px;
  flex-wrap: wrap;
}

section.utilities-list > div.utilities-row-1 {
  justify-content: space-between;
}

section.utilities-list > div.utilities-row-2 {
  justify-content: space-around;
}

div.usefulness {
  width: 350px;
  height: 200px;
  border-radius: 8px;
  justify-content: space-around;
  background-color: white;
  filter: drop-shadow(0 0 2px var(--gray300));
}

div.usefulness:hover {
  background-color: var(--gray100);
  filter: drop-shadow(0 0 0 var(--gray300));
}

div.usefulness:active {
  background-color: var(--gray200);
}

div.usefulness > img {
  padding: 8px;
  background-color: white;
  border-radius: 16px;
  border: none;
  margin-top: 40px;
}

div.usefulness > p {
  margin-bottom: 20px;
}

section.start-now {
  width: 100%;
  height: 650px;
  background: var(--gray100);
  margin-top: 120px;
  align-items: center;
}

section.start-now > div {
  margin-top: 50px;
  width: 1350px;
}

div.home-start {
  width: 650px;
  align-items: flex-start;
}

img.google-home-logo-start {
  margin-bottom: 30px;
}

div.home-start > * {  
  text-align: left;
}

p.start-description {
  margin: 10px 0 60px 0;
}

footer {
  height: 150px;
}

div.footer {
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

div.footer > p.footer-infos {
  margin: 0 10px;
}

p.footer-google {
  margin: 0 30px 0 50px;
  font-size: 30px;
}